body{
    background-color: #E2F3F9;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    

}

body form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #C5F4FA;
    border-radius: 16px;
    padding: 32px;
}

body form input, body form select{
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #b4eaf1;
}
body form #submit{
    background-color: #4AAAB5;

}